<div class="row">
	<div class="small-10 small-centered text-center columns">
	  <h1>Welcome</h1>

	  <h2>
	    This is your coiled tubing management application.
	  </h2>
		<div class="small-6 small-centered columns">
	  	<%= link_to "Get started!", signup_path, class: "button expand round" %>		
	  </div>
	</div>
</div>