<% provide(:title, @user.name) %>
<div class="row">
  <aside class="small-4 collumns">
    <section>
      <h1>
        <%# Replace with company-logo %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>