<li>
  <span class="order-details"><%= order.grade %></span>
  <span class="order-notes"><%= order.notes %></span>
  <span class="timestamp"><small>
    Created <%= time_ago_in_words(order.created_at) %> ago.
  </small></span>
  <% if current_user.linked?(order) %>
    <small>
    	<%= link_to "delete", order, 	method: :delete,
                                  	data: { confirm: "Are you sure?" } %>
    </small>
  <% end %>
</li>