<footer class="row">
  <ul class="inline-list small-12 small-centered medium-10 medium-centered columns">
    <li>by Morgan VanDerLeest</li>
    <div class="inline-list right">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",    help_path %></li>
    </div>
  </ul>
</footer>